@font-face {
  font-family: 'iconfont';
  src:  url('/fonts/iconfont/iconfont.eot?xsssaa');
  src:  url('/fonts/iconfont/iconfont.eot?xsssaa#iefix') format('embedded-opentype'),
    url('/fonts/iconfont/iconfont.ttf?xsssaa') format('truetype'),
    url('/fonts/iconfont/iconfont.woff?xsssaa') format('woff'),
    url('/fonts/iconfont/iconfont.svg?xsssaa#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-publish:before {
  content: "\e7b3";
}
.icon-resume:before {
  content: "\e7b5";
}
.icon-trophy:before {
  content: "\e7c4";
}
.icon-category:before {
  content: "\e7d1";
}
.icon-gallary:before {
  content: "\e7d7";
}
.icon-blog:before {
  content: "\e7d8";
}
.icon-rss:before {
  content: "\e7e0";
}
.icon-link:before {
  content: "\e7e2";
}
.icon-tags:before {
  content: "\e7e5";
}
.icon-alipay:before {
  content: "\e87c";
}
.icon-zhihu:before {
  content: "\e87d";
}
.icon-linkedin:before {
  content: "\e87e";
}
.icon-facebook:before {
  content: "\e87f";
}
.icon-skype:before {
  content: "\e880";
}
.icon-codesandbox:before {
  content: "\e881";
}
.icon-codepen:before {
  content: "\e882";
}
.icon-sketch:before {
  content: "\e883";
}
.icon-gitlab:before {
  content: "\e884";
}
.icon-dribbble:before {
  content: "\e885";
}
.icon-instagram:before {
  content: "\e886";
}
.icon-reddit:before {
  content: "\e887";
}
.icon-youtube:before {
  content: "\e888";
}
.icon-qq:before {
  content: "\e889";
}
.icon-twitter:before {
  content: "\e88a";
}
.icon-weibo:before {
  content: "\e88b";
}
.icon-wechat:before {
  content: "\e88c";
}
.icon-github:before {
  content: "\e88d";
}
.icon-adobeacrobatreader:before {
  content: "\e901";
  color: #ee3f24;
}
.icon-dblp:before {
  content: "\e902";
  color: #004f9f;
}
.icon-gmail:before {
  content: "\e907";
  color: #d14836;
}
.icon-googlescholar:before {
  content: "\e904";
  color: #4885ed;
}
.icon-mail-dot-ru:before {
  content: "\e90e";
  color: #168de2;
}
.icon-microsoftpowerpoint:before {
  content: "\e905";
  color: #d24726;
}
.icon-youtube2:before {
  content: "\e906";
  color: #f00;
}
.icon-at-sign:before {
  content: "\e908";
}
.icon-mail:before {
  content: "\e903";
}
.icon-right-quote:before {
  content: "\e900";
}
